.header{
  background-color: #5945B2;
  margin: -8px;
  padding:2px;
  border:solid 3px #402AA1;
  color:White;
  overflow:hidden;
}

.header h1{
  text-align: center;
}


.nav ul {
  list-style-type: none;
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #7563CA;
  width:110%;
  border:solid 3px #324481;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav  li a:hover {
  background-color: #266776;
  color: white;
}

body{
  background-color: white;
}
.inclass h2{
  color:#402AA1;
}
.Practice4A{
border:solid 3px #324481;
  height:200px;
  width:25%;
  margin:5px;
  padding:8px;
  color: #152E40;
  float:left;
  margin-left: 35px;
  overflow:scroll;
}
.Practice4B{
border:solid 3px #324481;
  height:200px;
  width:25%;
  margin:5px;
  padding:8px;
  color: #152E40;
  float:left;
  margin-left:35px;
  overflow:scroll;
}
.Practice4B a{
  color:#266776;
}

.Practice4A a{
  color: #266776;
}
.Practice4C{
  border:solid 3px #324481;
    height:200px;
    width:25%;
    margin:5px;
    padding:8px;
    color: #152E40;
    float:left;
    margin-right:35px;
    margin-left:35px;
    overflow:scroll;
  }
  .Practice4C a{
    color: #266776;
  }
.Practice5{
border:solid 3px #324481;
  height:200px;
  width:25%;
  margin:5px;
  padding:8px;
  color: #152E40;
  float:left;
  margin-right:35px;
  margin-left:35px;
  overflow:scroll;
}
.Practice5 a{
  color: #266776;
}
.Practice6{
  border:solid 3px #324481;
    height:200px;
    width:25%;
    margin:5px;
    padding:8px;
    color: #152E40;
    float:left;
    margin-right: 35px;
    overflow:scroll;
  }
  .Practice6 a{
    color: #266776;
  }