.header{
  background-color: #6978A8;
  margin: -8px;
  padding:2px;
  border:solid 3px #324481;
  color:#1B282F;
  overflow:hidden;
}

.header h1{
  text-align: center;
}


.nav ul {
  list-style-type: none;
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #6978A8;
  width:110%;
  border:solid 3px #324481;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:black;
}

.nav  li a:hover {
  background-color: #266776;
  color: white;
}

body{
  background-color: white;
}
.Intro{
  margin: 5px;
  width: 50%;
  padding:5px;
  border: 3px solid #536B78;
  height:120px;
  overflow:scroll;
  box-align:center;
}
.Intro h3{
  color:#1B282F;
}
.Intro p{
  margin-left:8px;
  margin-bottom:3px;
  color:#152E40;
}

.SiteCritques{
  height:300px;
  width:25%;
  border: #536B78 solid 3px;
  margin:5px;
  padding:5px;
  color: #152E40;
  float:left;
  overflow:scroll;
}

.SiteCritques a{
  color: #1B282F;
}

img{
  float:right;
  height:100px;
  width:200px;
  aspect-ratio:auto;
}
.RentAPet{
  border: #536B78 solid 3px;
  height:300px;
  width:25%;
  margin:5px;
  padding:8px;
  color: #152E40;
  float:left;
  overflow:scroll;
  /*
  background-color:#dde8ef;*/
}
.RentAPet a{
  color: #1B282F;
}


